@use 'styles/mixins/breakpoints'

.name
  background: linear-gradient(45deg, #61dafb 20%, #41b883 80%)
  color: #fff
  font-size: 55px
  font-weight: 900
  margin: 0
  text-transform: uppercase
  -webkit-text-fill-color: transparent
  background-clip: text

  @include breakpoints.respond-to('small')
    font-size: 130px

  @include breakpoints.respond-to('medium')
    font-size: 180px

.description
  color: #ccc
  font-size: 16px
  font-weight: 700
  margin: 0 0 40px

  @include breakpoints.respond-to('small')
    font-size: 18px

  @include breakpoints.respond-to('medium')
    font-size: 24px
