<footer>
	<div class="wrapper-content">
		<div class="social">
			<a href="https://twitter.com/marcker">
				<div class="icon -twitter"></div>
				<span>Twitter</span>
			</a>

			<a href="https://www.instagram.com/skuggor.betraktar/">
				<div class="icon -instagram"></div>
				<span>Instagram</span>
			</a>

			<a href="https://www.github.com/marcker">
				<div class="icon -github"></div>
				<span>GitHub</span>
			</a>
		</div>
	</div>
</footer>
