@use 'styles/mixins/breakpoints'

.container
  bottom: 0
  left: 0
  max-width: 60vw
  padding: 0 10px 10px 10px
  position: absolute
  width: 100%

  @include breakpoints.respond-to('small')
    padding: 0 20px 20px 20px

.content
  align-items: flex-end
  display: flex

  .container-image
    height: 70px
    margin-right: 10px
    position: relative
    width: 70px

    .image
      height: 70px
      object-fit: cover
      width: 70px

    .visualizer
      align-items: flex-end
      bottom: 0
      display: flex
      height: 100%
      justify-content: space-between
      opacity: .7
      padding: 5px
      position: absolute
      width: 100%

      span
        background-color: #fff
        height: 5px
        transition: all .3s
        width: 5px

    img
      box-shadow: 0 0 10px 1px #000

  .line
    color: #ccc
    display: block
    font-size: 12px
    font-weight: 700

    @include breakpoints.respond-to('small')
      font-size: 16px
