.name {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.name h1 {
  color: #fff;
  font-size: 180px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.description {
  color: #ccc;
  font-size: 20px;
  margin: 0;
}

.description a {
  color: #fff;
  text-decoration: underline;
}

.description a:hover {
  text-decoration: none;
}