<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">

		<title>Marcos Garcia de Lima - Front-end developer</title>
	</head>
	<body>

		<% include ../partials/main %>
		<% include ../partials/footer %>

		<!-- <script src="js/main.js"></script> -->

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116611738-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-116611738-1');
		</script>

	</body>
</html>
